@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

@layer base {
  :root {
    --navigation-offset: 3.2rem;
    --navigation-height: 6.4rem;
    --footer-height: 12.8rem;
    --hero-height: calc( 100vh - (7 * var(--navigation-height) ) + var(--footer-height) );
    overflow-x: hidden
  }

  html {
    @apply bg-background font-space scroll-smooth tracking-widest lg:cursor-none;
    font-size: 62.5%;
  }

  main {
    @apply font-space
  }

  nav {
    @apply border text-center p-2
  }

  .font-outline {
    -webkit-text-stroke: 1px white;
  }
}

.flare {
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid #ffffff2b;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important;
  backdrop-filter: blur(1px);
  background-color: white;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .flare {
    display: none;
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

.flare.pointer {
  opacity: 0.1 !important;
  border: 2px solid #a8a29e;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.container {
    overflow-y: auto;
    scroll-snap-type: y mandatory; /* Snap to the closest child element */
}
